.list {
    list-style: none;
    margin: 0;
    border: 2px solid black;
    border-radius: 4px;
    resize: horizontal;
    padding: 4px;
}

.item {
    margin: 2px;
    border: 1px solid gray;
    padding: 1px;
    border-radius: 4px;
}

.moreBtn {
    cursor: pointer;
    background: lightgray;
}
